// Navigation Styles here


header nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    margin-left: 49%;
}


@media @mobile {
    header nav {
        flex-direction: column;
        margin: 15%;
        width: 100%;
    }
} 

header nav a {
    font-size: 15px;
}
    
        
.img-content-1 {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;

}

@media @mobile {
    .img-content-1 {
        margin-left: 2%;
        justify-content: center;
    }
}

h1 {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: 327px;
    margin-top: 50px;
    margin-bottom: -30px;
}

@media @mobile {
    header h1 {
        margin-bottom: 20px;
        margin-left: 35%;
        width: 70%;
    }
} 

